/* clear fix FTW (from bootstrap) */
.clearfix{
	*zoom:1;
}
.clearfix:before,.clearfix:after{
	display:table;
	line-height:0;
	content:"";
}
.clearfix:after{
	clear:both;
}



/* css helpers */
.elem-right, .elem-left, .block {
	display:block;
}
.elem-right {
	float:right;
	margin:0 0 10px 10px;
}
.elem-left {
	float:left;
	margin:0 10px 10px 0;
}
.shadow{
	box-shadow: 0 0 3px #000;
}
.hide{
  display: none;
  visibility: hidden;
}
.show{
	display: inherit;
	visibility: inherit;
}



/* TNT Forms Toggle Theme - Default */
.toggleBtn-off,
.toggleBtn-on {
	display: inline-block;
	margin:	2px 5px 3px;
	width: 36px;
	height: 16px;
	line-height: 20px;
	background: transparent url(assets/images/switch.png) no-repeat left bottom;
	text-decoration: none;
	vertical-align: middle;
	outline: none;
}
.toggleBtn-on {
	background-position: left top;
	cursor: default;
}
.toggleBtn-off:hover,
.toggleBtn-on:hover {
	text-decoration: none;
}
.security.toggle span {
	font-weight: bold;
}
.security.toggle span:first-child {
	display: block;
}
.security.toggle span:nth-child(2) {
	display: inline-block;
}
.security.toggle span:last-child {
}



/* responsive design (from bootstrap) */
@-ms-viewport {
  width: device-width;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
/* tablet */
@media (min-width: 768px) and (max-width: 979px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important ;
	}
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
}
/* phone */
@media (max-width: 767px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-phone {
		display: inherit !important;
	}
	.hidden-phone {
		display: none !important;
	}
}